---
layout: default
---

<div class="home">
<img src="{{ site.url }}/assets/pic.jpg" alt="picture"style="float:left;width:134px;height:210px;margin:5px;"/>
<h2 style="margin-bottom: 0px;padding-bottom: 0px;">Christian Macho</h2>

<div style="margin-top: 0px;padding-top: 0px;">University Assistant and PhD Student</div>
<p>
<div><strong>Contact:</strong></div>
<div>E-Mail: christian dot macho at aau dot at</div>
<!--<div>Twitter: <a href="https://twitter.com/Mitschiiii">Mitschiiii</div>
<div>GitHub: <a href="https://twitter.com/Mitschiiii">Mitschiiii</div>
<div><a href="https://www.xing.com/profile/Christian_Macho">Xing</div>-->
<br/>
<div>Phone: +43 463 2700 3532</div>
<div>Fax: +43 463 2700 993532</div>
<div>Office: E.2.64, main building, south wing, second floor (Tue 10:00-11:00)</div>
</p>

<div align="justify" style="clear:left;">
I am a third year Ph.D. student in the <a href="http://serg.aau.at" target="_blank">Software Engineering Group (SERG)</a> at the <a href="http://www.aau.at" target="_blank">Alpen-Adria-Universität Klagenfurt</a> supervised by <a href="https://serg.aau.at/bin/view/MartinPinzger/WebHome" target="_blank">Prof. Martin Pinzger</a>. In March 2015, I received my MSc. degree from the <a href="http://www.tuwien.ac.at" target="_blank">Technical University Vienna</a>. My research interests include software evolution, mining software repositories, program analysis, build systems, continuous integration, and empirical studies in software engineering.
</div>
<br/>
<div><h2>News</h2></div>
<ul>
<li>March 2017 - Our Paper "Extracting Build Changes with BuildDiff" has been accepted for <a href="http://2017.msrconf.org/#/home">MSR 2017</a> in Buenos Aires, Argentina.</li>
<li>January 2017 - My Thesis abstract "Preventing and Repairing Build Breakage" has been accepted for the Doctoral Symposium at <a href="http://icse2017.gatech.edu/">ICSE 2017</a> in Buenos Aires, Argentina.</li>
<li>December 2015 - Our Paper "Predicting Build Co-Changes with Source Code Change and Commit Categories" has been accepted for <a href="http://saner.inf.usi.ch/">SANER 2016</a> in Osaka, Japan.</li> 
</ul>

{{ content }}

<!--<h1 class="page-heading">Posts</h1>
  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
-->
</div>